
    <div class="c-carousel">
        <div class="swiper-container js-carousel js-fadeIn">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure class="o-box">
                        <img src=<%= require("./img/carousel/caro-01.jpg") %> alt="" width="489" height="487">
                        
                        <figcaption>
                            <h2>Lorem ipsum dolor sit amet consectetur</h2>
                            <time>11.12.2020</time>
                        </figcaption>
                    </figure>
                </div> 
                
                <div class="swiper-slide">
                    <figure class="o-box">
                        <img src=<%= require("./img/carousel/caro-02.jpg") %> alt="" width="489" height="487">
                        
                        <figcaption>
                            <h2>Lorem ipsum dolor sit amet consectetur</h2>
                            <time>11.12.2020</time>
                        </figcaption>
                    </figure>
                </div>  
                
                <div class="swiper-slide">
                    <figure class="o-box">
                        <img src=<%= require("./img/carousel/caro-03.jpg") %> alt="" width="489" height="487">
                        
                        <figcaption>
                            <h2>Lorem ipsum dolor sit amet consectetur</h2>
                            <time>11.12.2020</time>
                        </figcaption>
                    </figure>
                </div> 
                
                <div class="swiper-slide">
                    <figure class="o-box">
                        <img src=<%= require("./img/carousel/caro-01.jpg") %> alt="" width="489" height="487">
                        
                        <figcaption>
                            <h2>Lorem ipsum dolor sit amet consectetur</h2>
                            <time>11.12.2020</time>
                        </figcaption>
                    </figure>
                </div> 
                
                <div class="swiper-slide">
                    <figure class="o-box">
                        <img src=<%= require("./img/carousel/caro-02.jpg") %> alt="" width="489" height="487">
                        
                        <figcaption>
                            <h2>Lorem ipsum dolor sit amet consectetur</h2>
                            <time>11.12.2020</time>
                        </figcaption>
                    </figure>
                </div>  
                
                <div class="swiper-slide">
                    <figure class="o-box">
                        <img src=<%= require("./img/carousel/caro-03.jpg") %> alt="" width="489" height="487">
                        
                        <figcaption>
                            <h2>Lorem ipsum dolor sit amet consectetur</h2>
                            <time>11.12.2020</time>
                        </figcaption>
                    </figure>
                </div>               
            </div>

            <div class="swiper-nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

