
    <div class="o-section bg-red text-red">
        <div class="o-wrap">
            
            <div class="c-members">
                <header class="o-header">
                    <h2>Członkowie Zarządu</h2>
                </header>
                
                <div class="o-cols o-cols--5 no-anim">
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

