
    <div class="o-section bg-gray text-red">
        <div class="o-wrap">
            
            <div class="c-members">
                <header class="o-header">
                    <h2>Członkowie Rady Stowarzyszenia</h2>
                </header>
                
                <div class="o-cols o-cols--5">
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/photos/member.png") %> alt="" width="190" height="190">
                            
                            <figcaption>
                                <p>Imię Nazwisko</p>
                                <p>Nazwa Stanowiska</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                
                <!--
<div class="c-pagination">
                    <ul>
                        <li>
                            <a href="#">a</a>
                        </li>
                        
                        <li>
                            <a href="#">b</a>
                        </li>
                        
                        <li>
                            <a href="#">c</a>
                        </li>
                    </ul>
                </div>
-->
            </div>
        </div>
    </div>

